@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700&display=swap");

.wrapper {
    margin: 18px 88px 18px;
    height: 25px;
    width: 415px;
    background: linear-gradient(to right, #da1919 50%, #008000FF 50%);
    border: 1px solid black;
    box-sizing: border-box;
    position: relative;
    overflow: hidden;
    border-radius: 20px;

}
.wrapper-ruler {
    margin: 18px 85px 18px;
    height: 25px;
    width: 415px;
    box-sizing: border-box;
    position: relative;
    overflow: hidden;
    border-radius: 20px;

}
/*/ growth and value /*/

.blind {
    height: 100%;
    position: absolute;
    top: 0;
    background-color: #ffffff;
    min-width: 50%;
}

.blind.right {
    left: 50%;
    border-left: 1px solid white;
    transform-origin: left top;
    background-color: #008000FF;
    padding: 0 8px;

}

.blind.left {
    border-right: 1px solid white;
    transform-origin: left top;
    background-color: #da1919;

}

/*/ Small Cap and Large Cap /*/

.blinds {
    height: 100%;
    position: absolute;
    top: 0;
    background-color: #ffffff;
    min-width: 50%;
}

.blinds.right {
    left: 50%;
    border-left: 1px solid white;
    transform-origin: left top;
    background-color: #008000FF;
    z-index: 1;

}

.blinds.left {
    border-right: 1px solid white;
    transform-origin: left top;
    background-color: #da1919;

}

/*/ Low Volatility and  High Volatility /*/

.blindsLow {
    height: 100%;
    position: absolute;
    top: 0;
    background-color: #ffffff;
    min-width: 50%;
}

.blindsLow.right {
    left: 50%;
    border-left: 1px solid white;
    transform-origin: left top;
    background-color: #008000FF;
    z-index: 1;

}

.blindsLow.left {
    border-right: 1px solid white;
    transform-origin: left top;
    background-color: #da1919;

}

/*/ Lagging and Momentum /*/
.blindsLagging {
    height: 100%;
    position: absolute;
    top: 0;
    background-color: #ffffff;
    min-width: 50%;
}

.blindsLagging.right {
    left: 50%;
    border-left: 1px solid white;
    transform-origin: left top;
    background-color: #008000FF;
    z-index: 1;

}

.blindsLagging.left {
    border-right: 1px solid white;
    transform-origin: left top;
    background-color: #da1919;

}

/*/ Fixed Income and Equities /*/
.blindsFixed {
    height: 100%;
    position: absolute;
    top: 0;
    background-color: #ffffff;
    min-width: 50%;
}

.blindsFixed.right {
    left: 50%;
    border-left: 1px solid white;
    transform-origin: left top;
    background-color: #008000FF;
    z-index: 1;

}

.blindsFixed.left {
    border-right: 1px solid white;
    transform-origin: left top;
    background-color: #da1919;

}

/*/ Emerging and Developed /*/
.blindsEmerging {
    height: 100%;
    position: absolute;
    top: 0;
    background-color: #ffffff;
    min-width: 50%;
}

.blindsEmerging.right {
    left: 50%;
    border-left: 1px solid white;
    transform-origin: left top;
    background-color: #008000FF;
    z-index: 1;

}

.blindsEmerging.left {
    border-right: 1px solid white;
    transform-origin: left top;
    background-color: #da1919;

}
/*/ end /*/

#buttons {
    text-align: center;
}

@media (max-width: 700px) and (min-width: 320px){

    .wrapper {
        margin: 18px auto 18px;
        height: 25px;
        width: 80%;
        background: linear-gradient(to right, #da1919 50%, #008000FF 50%);
        border: 1px solid black;
        box-sizing: border-box;
        position: relative;
        overflow: hidden;
        border-radius: 20px;
    }
    .wrapper-ruler {
        margin: 18px auto 18px;
        height: 25px;
        width: 80%;
        box-sizing: border-box;
        position: relative;
        overflow: hidden;
        border-radius: 20px;
    }

}



@media (max-width: 1180px) and (min-width: 820px) {
    .wrapper {
        margin: 18px auto 18px;
        height: 25px;
        width: 80%;
        background: linear-gradient(to right, #da1919 50%, #008000FF 50%);
        border: 1px solid black;
        box-sizing: border-box;
        position: relative;
        overflow: hidden;
        border-radius: 20px;
    }
    .wrapper-ruler {
        margin: 18px auto 18px;
        height: 25px;
        width: 80%;
        box-sizing: border-box;
        position: relative;
        overflow: hidden;
        border-radius: 20px;
    }

}
@media (max-width: 1300px) and (min-width: 701px) {


    .ruler li {
        padding-left: 1cm;
        /*width: 100px;*/
        /*margin: 0.64em 1.8em 0.36em;*/
        width: 145px;
        margin: 0.64em 2em 0.36em;
        text-align: center;
        /*position: relative;*/
        text-shadow: 1px 1px hsl(60, 60%, 84%);
    }
    .wrapper {
        margin: 18px 85px 10px;
        /*margin: 18px 35px 10px;*/
        height: 35px;
        /*width: 334px;*/
        width: 500px;
        background: linear-gradient(to right, #da1919 50%, #008000FF 50%);
        border: 1px solid black;
        box-sizing: border-box;
        position: relative;
        overflow: hidden;
        border-radius: 20px;
    }
    .wrapper-ruler {
        margin: 18px 85px 10px;
        height: 35px;
        width: 500px;
        box-sizing: border-box;
        position: relative;
        overflow: hidden;
        border-radius: 20px;
    }

}


@media (max-width: 1400px) and (min-width: 700px) {
    .wrapper {
        margin: 18px auto 10px;
        height: 25px;
        width: 75%;
        background: linear-gradient(to right, #da1919 50%, #008000FF 50%);
        border: 1px solid black;
        box-sizing: border-box;
        position: relative;
        overflow: hidden;
        border-radius: 20px;
    }
    .wrapper-ruler {
        margin: 18px auto 10px;
        height: 25px;
        width: 75%;
        box-sizing: border-box;
        position: relative;
        overflow: hidden;
        border-radius: 20px;
    }

}


@media (max-width: 1740px) and (min-width: 1400px) {
    .wrapper {
        margin: 18px auto 10px;
        height: 25px;
        width: 325px;
        background: linear-gradient(to right, #da1919 50%, #008000FF 50%);
        border: 1px solid black;
        box-sizing: border-box;
        position: relative;
        overflow: hidden;
        border-radius: 20px;
    }
    .wrapper-ruler {
        margin: 18px auto 10px;
        height: 25px;
        width: 325px;
        box-sizing: border-box;
        position: relative;
        overflow: hidden;
        border-radius: 20px;
    }

}
