container_commands:
  01_copy_env_file:
    command: "ln -s /opt/elasticbeanstalk/deployment/env .env"
  02_chmod_folders:
      command: |
        chmod -R 777 storage/
        chmod -R 777 bootstrap/cache/
        mkdir storage/framework/cache
        mkdir storage/framework/views
        chmod -R 777 storage/logs
        chmod -R 777 bootstrap/cache/
        chmod -R 777 storage/framework/*
